<div class="experience-section" id="experience">
    <h1 class="experience-title">{{'landingPage.experience' | translate}}</h1>

    <div class="experience-content">
        <div class="programmer">
            <h5>{{'experience.fullStackDev' | translate}} - Wilda Software</h5>

            <p class="time-span">{{'basic.october' | translate}} 2022 - {{'basic.currently' | translate}} (Poznań)</p>

            <ul class="responsibilities">
                <li [innerHtml]="'experience.fullStackDevLong.usedTechnologies' | translate"></li>
                <li [innerHtml]="'experience.fullStackDevLong.appDeveloped' | translate"></li>
                <li [innerHtml]="'experience.fullStackDevLong.touchApp' | translate"></li>
                <li [innerHtml]="'experience.fullStackDevLong.attachmentModuleApp' | translate"></li>
                <li [innerHtml]="'experience.fullStackDevLong.apiModuleApp' | translate"></li>
                <li [innerHtml]="'experience.fullStackDevLong.appDocs' | translate"></li>
                <li [innerHtml]="'experience.fullStackDevLong.clientMeetings' | translate"></li>
            </ul>
        </div>

        <div class="breaker-line"></div>

        <div class="programmer">
            <h5>Full-Stack Web Developer - Wilda Software</h5>

            <p class="time-span">{{'basic.july' | translate}} - {{'basic.august' | translate}} 2021 (Poznań)</p>

            <ul class="responsibilities">
                <li [innerHtml]="'experience.fullStackDevShort.usedTechnologies' | translate"></li>
                <li [innerHtml]="'experience.fullStackDevShort.appDeveloped' | translate"></li>
                <li [innerHtml]="'experience.fullStackDevShort.featureDeveloped' | translate"></li>
                <li [innerHtml]="'experience.fullStackDevShort.secondAppDeveloped' | translate"></li>
                <li [innerHtml]="'experience.fullStackDevShort.skillsAcquired' | translate"></li>
            </ul>
        </div>

        <div class="breaker-line"></div>

        <div class="apprentice" style="margin-bottom: 30px;">
            <h5>{{'experience.apprentice.title' | translate}} - Wilda Software</h5>

            <p class="time-span">{{'basic.may' | translate}} 2021 (Poznań)</p>

            <ul class="responsibilities">
                <li [innerHtml]="'experience.apprentice.usedTechnologies' | translate"></li>
                <li [innerHtml]="'experience.apprentice.appTested' | translate"></li>
                <li [innerHtml]="'experience.apprentice.bugsFixed' | translate"></li>
                <li [innerHtml]="'experience.apprentice.skillsAcquired' | translate"></li>
            </ul>
        </div>

    </div>

</div>
