<div class="experience-section" id="experience">
    <h1 class="experience-title">{{'landingPage.experience' | translate}}</h1>

    <div class="experience-content">
        <div class="junior-programmer">
            <h5>Junior Full-Stack Web Developer - Wilda Software</h5>

            <p class="time-span">{{'basic.october' | translate}} 2022 - {{'basic.currently' | translate}} (Poznań)</p>

            <ul class="responsibilities">
                <li [innerHtml]="'experience.bugFixesJunior' | translate"></li>
                <li [innerHtml]="'experience.touchAppProjectJunior' | translate"></li>
                <li [innerHtml]="'experience.productionAdjustmentsJunior' | translate"></li>
                <li [innerHtml]="'experience.documentProjectJunior' | translate"></li>
            </ul>
        </div>

        <div class="breaker-line"></div>

        <div class="junior-programmer">
            <h5>Junior Full-Stack Web Developer - Wilda Software</h5>

            <p class="time-span">{{'basic.july' | translate}} - {{'basic.august' | translate}} 2021 (Poznań)</p>

            <ul class="responsibilities">
                <li [innerHtml]="'experience.newFeaturesJuniorShort' | translate"></li>
                <li [innerHtml]="'experience.bugFixesJuniorShort' | translate"></li>
            </ul>
        </div>

        <div class="breaker-line"></div>

        <div class="apprentice" style="margin-bottom: 30px;">
            <h5>{{'experience.apprentice' | translate}} - Wilda Software</h5>

            <p class="time-span">{{'basic.may' | translate}} 2021 (Poznań)</p>

            <ul class="responsibilities">
                <li [innerHtml]="'experience.testScenarioApprentice' | translate"></li>
                <li [innerHtml]="'experience.bugFixesApprentice' | translate"></li>
            </ul>
        </div>

    </div>

</div>
