<div class="experience-section" id="experience">
    <h1 class="experience-title">{{'landingPage.experience' | translate}}</h1>

    <div class="experience-content">
        <div class="junior-programmer">
            <h5>Junior Full-Stack Web Developer - Wilda Software</h5>

            <p class="time-span">{{'basic.october' | translate}} 2022 - {{'basic.currently' | translate}}</p>

            <ul class="responsibilities">
                <li>Developing a standalone application for workstation management.</li>
                <li>Adding new functionality to a web application based on <b>Yii2</b> framework.</li>
            </ul>
        </div>

        <div class="breaker-line"></div>

        <div class="junior-programmer">
            <h5>Junior Full-Stack Web Developer - Wilda Software</h5>

            <p class="time-span">{{'basic.july' | translate}} - {{'basic.august' | translate}} 2021</p>

            <ul class="responsibilities">
                <li>Bug fixing and adding new functionality in web applications based on <b>Angular</b> and <b>Nest.js</b></li>
                <li>Bug fixing in a web application based on <b>Yii2</b> framework.</li>
            </ul>
        </div>

        <div class="breaker-line"></div>

        <div class="apprentice" style="margin-bottom: 30px;">
            <h5>{{'experience.apprentice' | translate}} - Wilda Software</h5>

            <p class="time-span">{{'basic.may' | translate}} 2021</p>

            <ul class="responsibilities">
                <li>Tested a web application in development</li>
                <li>Fixed bugs found in web application based on <b>Angular</b> and <b>Nest.js</b></li>
            </ul>
        </div>

    </div>

</div>
