<div class="my-projects-section" id="projects">
    <h1 class="my-projects-title orange-gradient">{{'landingPage.projects' | translate}}</h1>
    <div class="projects-browser">
        <div class="project-real">
            <h3 class="title">REAL</h3>

            <p class="description">{{'projects.realMsg' | translate}}</p>

            <p class="technologies">{{'projects.technologiesUsed' | translate}}:</p> <br>
            <div class="technologies-icons">
                <img src="assets/icons/project-technologies/csharp.png" alt="csharp icon">
                <img src="assets/icons/project-technologies/unityengine.png" alt="unity icon">

            </div>

            <div class="link-container">
                <a href="https://quantum-bit-games.itch.io/real" target="_blank"><img class="website-link" src="assets/icons/hyperlinkIcon.png" alt="website link"></a>
                <a href="https://github.com/AleX4270/REAL" target="_blank"><img style="margin-left: 50px;" class="github-link" src="assets/icons/githubIcon1.png" alt="github repo link"></a>
            </div>
        </div>

        <div class="project-real">
            <h3 class="title">Pong Mobile</h3>

            <p class="description">{{'projects.pongMsg' | translate}}</p>

            <p class="technologies">{{'projects.technologiesUsed' | translate}}:</p> <br>
            <div class="technologies-icons">
                <img src="assets/icons/project-technologies/csharp.png" alt="csharp icon">
                <img src="assets/icons/project-technologies/unityengine.png" alt="unity icon">

            </div>

            <div class="link-container">
                <a href="https://github.com/AleX4270/PongMobile" target="_blank"><img class="github-link" src="assets/icons/githubIcon1.png" alt="github repo link"></a>
            </div>
        </div>

        <!-- <div class="project-real">
            <h3 class="title">ChatApp</h3>

            <p class="description">{{'projects.chatAppMsg' | translate}}</p>

            <p class="technologies">{{'projects.technologiesUsed' | translate}}:</p> <br>
            <div class="technologies-icons">
                <img src="assets/icons/project-technologies/php.png" alt="php icon">
                <img src="assets/icons/project-technologies/mysql.png" alt="mysql icon">

            </div>

            <div class="link-container">
                <a href="https://github.com/AleX4270/chat" target="_blank"><img class="github-link" src="assets/icons/githubIcon1.png" alt="github repo link"></a>
            </div>
        </div> -->
    </div>
</div>