<div class="about-me-section" id="about-me">
    <h2 class="about-me-title">{{'landingPage.aboutMe' | translate}}</h2>

    <div class="about-me-content">
        <div class="how-it-started">
            <h4>{{'aboutMe.theBeginning' | translate}}</h4>

            <p>{{'aboutMe.theBeginningMsg' | translate}}</p>
        </div>

        <div class="how-its-now">
            <h4>{{'aboutMe.currentState' | translate}}</h4>

            <p>{{'aboutMe.currentStateMsg' | translate}}</p>
        </div>

        <div class="break">

        </div>

        <div class="my-future">
            <h4>{{'aboutMe.futurePlans' | translate}}</h4>

            <p>{{'aboutMe.futurePlansMsg' | translate}}</p>
        </div>
    </div>
</div>