<div class="about-me-section" id="about-me">
    <h2 class="about-me-title">About Me</h2>

    <div class="about-me-content">
        <div class="how-it-started">
            <h4>How it started?</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor tincidunt velit, eu blandit mauris blandit id. Quisque scelerisque posuere magna sed congue. Duis convallis auctor diam, maximus lobortis est blandit eget. </p>
        </div>

        <div class="how-its-now">
            <h4>How is it going now?</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor tincidunt velit, eu blandit mauris blandit id. Quisque scelerisque posuere magna sed congue. Duis convallis auctor diam, maximus lobortis est blandit eget. </p>
        </div>

        <div class="break">

        </div>

        <div class="my-future">
            <h4>Where I want to be?</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor tincidunt velit, eu blandit mauris blandit id. Quisque scelerisque posuere magna sed congue. Duis convallis auctor diam, maximus lobortis est blandit eget. </p>
        </div>
    </div>
</div>