<div class="landingPage">
    <header>
        <div class="page-logo">
               <!-- <a href="index.html"><img src="assets/icons/arLogo2F.png" alt="page logo"></a> -->
                <h4>Aleks Regulski</h4>
        </div>

        <!-- <input type="checkbox" id="dropdown-input" class="dropdown-controller"/>
-->
        <label id="dropdown-menu" for="dropdown-input"> 
            <nav>
                <ul class="main-menu">
                    <li class="view-switch"><p>Terminal</p></li>
                    <li class="contact-btn"><a href="#about-me">About Me</a></li>
                    <li class="contact-btn"><a href="#projects">Projects</a></li>
                    <li class="contact-btn"><a href="#experience">Experience</a></li>
                </ul>
            </nav>
        </label>
    </header>

    <section>
        <div class="section-content-container">
            <h1 class="hello-message">Hello, I am Aleks.</h1>
            <p class="hello-description">A web developer &amp; student.</p>
            <button (click)="scrollToDetails()" class="welcome-btn">Get to know me better!</button>
        </div>
    </section>

    <div class="details">
        <div class="twitter-btn" >
            <a><img src="assets/icons/twitterIcon.png" alt="twitter icon"></a>
        </div>

        <div class="github-btn" >
            <a href="https://github.com/AleX4270" target="_blank">
                <img src="assets/icons/githubIcon1.png" alt="github icon"></a>
        </div>

        <div class="linkedin-btn" >
            <a><img src="assets/icons/linkedinIcon.png" alt="linkedin icon"></a>
        </div>
    </div>
</div>