<div class="landingPage">
    <header>
        <div class="page-logo">
                <h4>Aleks Regulski</h4>
        </div>
        <!-- <label id="dropdown-menu" for="dropdown-input"> 
            <nav>
                <ul class="main-menu">
                    <li class="contact-btn"><a href="#about-me">{{'landingPage.aboutMe' | translate}}</a></li>
                    <li class="contact-btn"><a href="#projects">{{'landingPage.projects' | translate}}</a></li>
                    <li class="contact-btn"><a href="#experience">{{'landingPage.experience' | translate}}</a></li>
                </ul>
            </nav>
        </label> -->
    </header>

    <section>
        <div class="section-content-container">
            <h1 class="hello-message">{{'landingPage.welcomeMsg' | translate}}</h1>
            <p class="hello-description">{{'landingPage.welcomeInfo' | translate}}</p>
            <button (click)="scrollToDetails()" class="welcome-btn">{{'landingPage.knowMe' | translate}}</button>
        </div>
    </section>

    <div class="details">
        <div class="lang-select">
            <button (click)="switchLanguage()">{{'basic.language' | translate}}</button>
        </div>

        <div class="icon-container">
            <div class="github-btn" >
                <a href="https://github.com/AleX4270" target="_blank">
                    <img src="assets/icons/githubIcon1.png" alt="github icon">
                </a>
            </div>
    
            <div class="linkedin-btn" >
                <a href="https://www.linkedin.com/in/aleks-regulski-9a5207239/" target="_blank">
                    <img src="assets/icons/linkedinIcon.png" alt="linkedin icon">
                </a>
            </div>
        </div>
    </div>
</div>